@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

@mixin display {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin display2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

//  Colors

//  Primary
$Green-200: hsl(148, 38%, 91%);
$Green-600: hsl(169, 82%, 27%);
$Red: hsl(0, 66%, 54%);

//  Neutral

$White: hsl(0, 0%, 100%);
$Grey-500: hsl(186, 15%, 59%);
$Grey-900: hsl(187, 24%, 22%);

//  Typography
$Font-size: 16px;
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include display;
  align-items: center;
  background-color: $Green-200;
  min-height: 100vh;
  padding: 2rem 0;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

.main-container {
  @include display();
  align-items: center;
  justify-content: center;

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

.form-container {
  @include display;
  gap: 1rem;
  width: 20rem;
  background-color: $White;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: auto;
  margin-bottom: 1rem;
}

header h1 {
  font-weight: 700;
}

label,
p {
  font-weight: 400;
}

form {
  @include display;
  gap: 1rem;

  input:focus,
  textarea:focus {
    outline-color: $Green-200;
  }

  .name {
    @include display;
    gap: 1rem;
  }

  .form-field {
    @include display;
    gap: 0.3rem;

    .input-field {
      width: 100%;
      padding: 0.5rem 0;
      border-radius: 0.3rem;
      border: 1px solid $Green-200;
      box-shadow: 0 0px 0px 1px $Green-200;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0px 2px $Green-600;
      }

      // Input with validation error
      &.error,
      &:invalid:focus {
        border-color: $Red;
      }
    }
  }

  textarea {
    height: 10rem;
  }
}

#required-description {
  display: none;
  color: $Red;
}

#required-description.visible {
  display: block;
}

fieldset {
  @include display;
  gap: 1rem;
  border: none;

  legend {
    padding-bottom: 0.3rem;
  }

  .query {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
    border: 2px solid $Green-200;
    box-shadow: 0 0px 2px $Green-200;
    cursor: pointer;
  }

  .query:hover {
    box-shadow: 0px 0px 2px $Green-600;
    background-color: $Green-200;
  }
}

.consent-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  // margin: 1rem 0;

  .consent {
    display: flex;
    gap: 0.5rem;
  }
}

button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: $Green-600;
  color: $White;
  border: 1px solid $Green-600;
  cursor: pointer;
}

p.error-message {
  color: $Red;
  font-size: 0.875rem;
  display: none;
}

.feedback-message {
  display: none;
  background-color: $Grey-900;
  color: $White;
  width: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;

  .success {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 1rem;
    }

    h2 {
      font-size: 1rem;
      font-weight: 700;
    }
  }
  p {
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 0.5rem;
    color: $Green-200;
  }
}

@media (min-width: 40rem) {
  .form-container {
    width: 40rem;
  }

  form {
    .name,
    .query-type {
      @include display2;
      gap: 0.5rem;
    }

    .form-field {
      textarea {
        height: 5rem;
      }
    }
  }
}
