@mixin display {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin display2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

//  Colors

//  Primary
$Green-200: hsl(148, 38%, 91%);
$Green-600: hsl(169, 82%, 27%);
$Red: hsl(0, 66%, 54%);

//  Neutral

$White: hsl(0, 0%, 100%);
$Grey-500: hsl(186, 15%, 59%);
$Grey-900: hsl(187, 24%, 22%);

//  Typography
$Font-size: 16px;
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include display;
  align-items: center;
  background-color: $Green-200;
  min-height: 100vh;
  padding: 2rem 0;
}

.form-container {
  @include display;
  gap: 1rem;
  width: 16rem;
  background-color: $White;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  margin: auto;
}

form {
  @include display;
  gap: 1rem;

  .name {
    @include display;
    gap: 1rem;
  }

  .form-field {
    @include display;
    gap: 0.3rem;

    input,
    textarea {
      width: 100%;
      padding: 0.5rem 0;
      border-radius: 0.3rem;
      border: 1px solid $Green-200;
      box-shadow: 0 0px 2px $Green-200;
      cursor: pointer;
    }

    input:hover,
    textarea:hover {
      box-shadow: 0 0px 2px $Green-600;
    }

    textarea {
      height: 10rem;
    }
  }

  #required-description {
    display: none;
    color: $Red;
  }

  #required-description.visible {
    display: block;
  }

  fieldset {
    @include display;
    gap: 1rem;
    border: none;

    legend {
      padding-bottom: 0.3rem;
    }

    .query {
      width: 100%;
      padding: 0.5rem 1rem;
      margin-bottom: 0.5rem;
      border-radius: 0.3rem;
      border: 2px solid $Green-200;
      box-shadow: 0 0px 2px $Green-200;
      cursor: pointer;
    }

    .query:hover {
      box-shadow: 0px 0px 2px $Green-600;
      background-color: $Green-200;
    }
  }

  .consent-field {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    // margin: 1rem 0;
  }

  button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: $Green-600;
    color: $White;
    border: 1px solid $Green-600;
    cursor: pointer;
  }
}

.feedback-message {
  display: none;
}

@media (min-width: 40rem) {
  .form-container {
    width: 30rem;
  }

  form {
    .name,
    .query-type {
      @include display2;
      gap: 0.5rem;
    }
  }
}
